{
    "presets": [
	    ["@babel/preset-env",
	      {
	        "useBuiltIns": "entry",
	        "debug": true
	      }
	    ],
      "@babel/react"
    ],
    "plugins": ["transform-object-assign"]
}
