{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for style in client_app_style_slug %}
      {% render_bundle style 'css' %}
    {% endfor %}
    <link rel="icon" type="image/png" href="{% static 'icons/simple_c_50.png' %}"/>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

    {% block extraheadstyles %}{% endblock %}
  </head>
  <body style="display: flex; min-height: 100vh; flex-direction: column;">
    {% block body %}
    <header>
      {% block header %}
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img style="width:30px;height:30px;" src="{% static 'icons/simple_c_300.png' %}" srcset="{% static 'icons/simple_c.svg' %}" alt="Simple C Logo">
            </a>
            {% block headerburger %}
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            {% endblock %}
            {% block headermenu %}
              <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                  <a class="navbar-item" href="/">Home</a>
                  <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="{{ repo }}">Repository</a>
                </div>
              </div>
            {% endblock %}
          </div>
        </nav>
      {% endblock %}
    </header>
    <main style="flex: 1;">
      {% block main %}{% endblock %}
    </main>
    <footer class="footer is-dark theme-footer has-text-centered">
      {% block footer %}
      <div>
        <span>Source code licensed <a class='has-text-link theme-text-blue' href='https://opensource.org/licenses/MIT'>MIT</a>.</span>
        <span>Website content licensed <a class='has-text-link theme-text-blue' href='https://creativecommons.org/licenses/by-nc-sa/4.0/'>CC BY-NC-SA 4.0</a>.</span>
      </div>
      {% endblock %}
    </footer>
    {% endblock %}
  </body>
  {% block jsmodules %}
    {% for script in client_app_slug %}
      {% render_bundle script 'js' %}
    {% endfor %}
  {% endblock %}
</html>
