{% extends "base.html" %}

{% block main %}
<div class="hero is-fullheight has-fixed-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-12 is offset-2">
        <h2 class="title">{{ title }}</h2>
        <h3 class="subtitle">developer.</h3>
        <div>
          <button class="button is-link is-outlined">bio</button>
          <button class="button is-link is-outlined">projects</button>
          <button class="button is-link is-outlined">github</button>
          <button class="button is-link is-outlined">contact</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
  <div class="theme-color">
    <div style="height:25px;width:25px;" class="theme-color bg-light"></div>
    <div style="height:25px;width:25px;" class="theme-color bg-black"></div>
    <div style="height:25px;width:25px;" class="theme-color bg-grey"></div>
    <div style="height:25px;width:25px;" class="theme-color bg-iceblue"></div>
    <div style="height:25px;width:25px;" class="theme-color bg-blue"></div>
    <div style="height:25px;width:25px;" class="theme-color bg-darkblue"></div>
    <div style="height:25px;width:25px;" class="theme-color bg-red"></div>
    <div style="height:25px;width:25px;" class="theme-color bg-orange"></div>
  </div>
{% endblock %}
